<!--Company Dashboard View-->

<!DOCTYPE html>
<html lang="en" class="dashboard">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <title>DreamWare: Software Community</title>
    </head>

    <body>

        <!-- Main Nav Bar -->
        <header-component 
            linkOneHref="/" linkOneText="Home"
            linkTwoHref="/CandidateBoard" linkTwoText="Candidates"
            loginHref="/logout" loginText="Logout" 
            btnHref="/companyProfile" btnText="Profile" 
        >
        </header-component>  
       

           

            
        <main class="dashboard" >

            <!-- Main Intro --> 
            <section>

                <!--Left Column-->
                <section class="dashboard-lCol">
                    
                    <!--Profile Info -->
                    <section class="profileSection"> 
                        
                        <img class="profileImg"src="/media/{{user.companies.picture}}"  width="110px" height="110px">

                        <section class="profileText">
                            <p class="dashboard-title">{{user.first_name}}, {{user.last_name}}</p>
                            <p class="dashboard-text">{{user.companies.company_title}}</p>
                            <p class="dashboard-text">{{user.companies.company_name}}</p> 
                        </section>
                    </section>

                    <!--Contact Links -->
                    <section class="contactSection">
                        <p class="dashboard-title">Contacts</p>
                        <section class="contactLinks">

                            <div class="contactCards">
                                <a href="mailto:{{user.companies.email}}" aria-label="Companies's Email">
                                    <i class="fa-solid fa-envelope fa-2xl"></i>
                                </a>
                            </div>
                            <div class="contactCards">
                                <a href="{{user.companies.linkedin}}" target="blank" aria-label="Companies's LinkedIn">
                                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                                </a>
                            </div>

                        </section>
                    </section>

                </section>


                <!--Right Column-->
                <section class="dashboard-rCol">

                    <!-- Job Postings section-->
                    <section class="postingSection">
                    
                        <p class="dashboard-title">Active Job Postings</p>
                    
                        <section class="dashboard-subtitle">
                            {% if not user.companies.companyjob.all %}
                                <p>This is where all your job postings will be listed.</p>
                            {% endif %}    
                            <section class="jobBtn">
                                <a href="/jobPost" class="btn-main">Post A Job</a>
                            </section>
                        </section>
                       
                       
                        
                        <section class="companyCards">
                            {% if user.companies.companyjob.all %}
                                {% for job in user.companies.companyjob.all %}
                                    <!--Job postings listed-->
                                    <section class="cards">
        
                                        <section class="infoSection">
                                            <div class="companyTitle">
                                                <p class="title"> {{job.company_name}}</p>                                         
                                            </div>

                                            <p class="title"> {{job.position_title}}</p>
                                            <p class="title">{{job.location}}</p>
                                            {% if job.salary == none %}
                                                <p >Salary Not Disclosed</p>
                                            {% else %}
                                                <p class="title">{{job.salary}} USD</p>
                                            {% endif %}
                                        
                                            <p>Posted: {{job.date_posted.date}}</p>
                                        </section>
                                    
                                        <section class="skills">
                                            <p>Top 3 Skills</p>
                                            <section class="skills-container">
                                                
                                                <div class="skill-circle">
                                                    <svg>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                    </svg>
                                                    <div class="text">{{job.skill_one}}</div>
                                                </div>
                                                <div class="skill-circle">
                                                    <svg>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                    </svg>
                                                    <div class="text">{{job.skill_two}}</div>
                                                </div>
                                                <div class="skill-circle">
                                                    <svg>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                        <circle cx="30" cy="30" r="30"></circle>
                                                    </svg>
                                                    <div class="text">{{job.skill_three}}</div>
                                                </div>
                                                
                                            </section>
                                        </section>

                                        <section class="btn-container">
                                            <a href="{{job.job_link}}" target="_blank" class="btn-main">Job Link</a>
                                        </section>
                                        
                                    </section>
                                {% endfor %}
                            {% else %}
                                <!--Vacant Job listing-->
                                <section class="cards">
        
                                    <section class="infoSection">
                                        <div class="companyTitle">
                                            <p class="title"> Company Name</p>                                         
                                        </div>
                                        <p> Position Title </p>
                                        <p>Location or Remote </p>
                                        <p>Starting Salary</p>
                                        
                                    </section>
                                
                                    <section class="skills">
                                        <p>Skills</p>
                                        <section class="skills-container">
                                            <div class="skill-circle">
                                                <svg>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                </svg>
                                                <div class="text">Skill One</div>
                                            </div>
                                            <div class="skill-circle">
                                                <svg>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                </svg>
                                                <div class="text">Skill Two</div>
                                            </div>
                                            <div class="skill-circle">
                                                <svg>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                    <circle cx="30" cy="30" r="30"></circle>
                                                </svg>
                                                <div class="text">Skill Three</div>
                                            </div>
                                        </section>
                                    </section>
                                    
                                </section>
                            {% endif %}
                        </section>

                    </section>

                    <!--Top Candidates Section-->
                    <section class="companiesSection">
                    
                        <p class="dashboard-title">Top Candidates</p>
                        <section class="dashboard-subtitle">
                            {% if candidates %}
                                <p>These candidates have the skills you need</p>
                            {% else %}
                                <p>This is where candidates that match your required skills will be listed.</p>
                            {% endif %}
                        </section>
                        
                        <section class="profileCards">
                            
                            <!--Candidate Profile Cards-->
                            {% if candidates %}

                                {% for candidate in candidates %}
                            
                                    <section class="cards">

                                        <section class="infoSection">
                                            <div class="candidateTitle">
                                                <p class="title"> {{candidate.user.first_name}}, {{candidate.user.last_name}}</p>
                                            </div>

                                            <img class="candidateImg"src="/media/{{candidate.picture}}"  width="100px" height="100px">
                                            <p>{{candidate.get_workstatus_display}}</p>
                                            <p>{{candidate.get_availability_display}}</p>
                                            <p>{{candidate.get_relocation_display}}</p>
                                           
                                        </section>

                                        <!--<section class="skills">
                                            <p>Skills</p>
                                            {% if candidate.skills %}

                                                {% for skill in candidate.skills.all %}
                                                    <section class="skills-container">
                                                        <div class="skill-circle">
                                                            <svg>
                                                                <circle cx="30" cy="30" r="30"></circle>
                                                                <circle cx="30" cy="30" r="30"></circle>
                                                            </svg>
                                                            <div class="text">{{skill}}</div>
                                                        </div>

                                                    </section>
                                                {% endfor %}
                                            {% else %}
        
                                                <p>Candidate Has hid their skill</p>
                    
                                            {% endif %}
                                        </section>-->

                                        <section class="interests">
                                            <p>Interests</p>
                                            <section class="interestsContainer">
                                                {% for x in candidate.interests_list %}
                                                    <div class="interestsCards">
                                                        <p class="text">{{x}}</p>
                                                    </div>
                                                {% endfor %}
                                            </section>
                                        </section>
                                    </section>
                        
                                {% endfor %}

                            {% else %}

                                <!--Default Card if no Matches-->
                                <section class="cards">

                                    <section class="infoSection">
                                        <div class="candidateTitle">
                                            <p class="title"> Candidate Name </p>
                                        </div>
                                        <img class="candidateImg"src="/media/defaultuser.png"  width="100px" height="100px">
                                        <p> Work Status </p>
                                        <p>Availability </p>
                                        <p>Relocation Status</p>
                                    </section>
                                
                                    <section class="interests">
                                        <p> Candidate's Interests</p>
                                        <section class="interestsContainer">
                                        
                                                <div class="interestsCards">
                                                    <p class="text">Front-End</p>
                                                </div>
                                           
                                                <div class="interestsCards">
                                                    <p class="text">Back-End</p>
                                                </div>
                                           
                                                <div class="interestsCards">
                                                    <p class="text">Dev-ops</p>
                                                </div>
                                           
                                        </section>
                                    </section>
                                    
                                </section>
                                
                            {% endif %}

                        </section>

                    </section>
                   
                </section>

            </section>
           
           
        </main>

    </body>

</html>