<!--Company Dashboard View-->

<!DOCTYPE html>
<html lang="en" class="dashboard">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Software Community</title>
    </head>

    <body>

        <!-- Main Nav Bar -->
        <header-component 
            linkOneHref="/" linkOneText="Home"
            linkTwoHref="/companyCandidateBoard" linkTwoText="Candidates"
            loginHref="/logout" loginText="Logout" 
            btnHref="/companyProfile" btnText="Profile" 
        >
        </header-component>  
       

           

            
        <main class="dashboard" >

            <!-- Main Intro --> 
            <section>

                <!--Left Column-->
                <section class="dashboard-lCol">
                    
                    <!--Profile Info -->
                    <section class="profileSection"> 
                        
                        <img class="profileImg"src="/media/{{user.companies.company_logo}}"  width="110px" height="110px">

                        <section class="profileText">
                            <!--<p class="dashboard-text">{{user.first_name}}, {{user.last_name}}</p>-->
                            <p class="dashboard-text">{{user.first_name}}, {{user.last_name}}</p>
                            <p class="dashboard-text">{{user.companies.company_title}}</p>
                            <p class="dashboard-Title">{{user.companies.company_name}}</p> 
                        </section>
                    </section>

                </section>


                <!--Right Column-->
                <section class="dashboard-rCol">
                    
                    <!--Company Summary-->
                    <section class="personalSection">

                        <!--Companies Listed Skills-->
                        <section class="rowOne-lCol">
                            <p class="dashboard-title">Top Skills Sought</p>

                            {% if topSkills %}
    
                                <section class="company-techskills">
                                    {% for skill in topSkills %}
                                        <div class="skill-circle">
                                            <svg>
                                                <circle cx="50" cy="50" r="50"></circle>
                                                <circle cx="50" cy="50" r="50"></circle>
                                            </svg>
                                            <div class="text">{{skill}}</div>
                                        </div>
                                    {% endfor %}          
                                </section>

                            {% else %} <!--COntrol will be passed to MODEL to show default-->

                                <p>Skills will be listed here once you add them.</p>
                                <section class="company-techskills">
                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="50" cy="50" r="50"></circle>
                                            <circle cx="50" cy="50" r="50"></circle>
                                        </svg>
                                        <div class="text">Skill</div>
                                    </div>
                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="50" cy="50" r="50"></circle>
                                            <circle cx="50" cy="50" r="50"></circle>
                                        </svg>
                                        <div class="text">Skill</div>
                                    </div>
                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="50" cy="50" r="50"></circle>
                                            <circle cx="50" cy="50" r="50"></circle>
                                        </svg>
                                        <div class="text">Skill</div>
                                    </div>
                                </section>
                                
                            {% endif %}
                        </section>

                        <!--Companies Job Card-->
                        <section class="rowOne-rCol">
                            <p class="dashboard-title">Listed Position</p>
                            <section class="companyCards">
                                <section class="cards">
    
                                    <section class="infoSection">
                                        <div class="companyTitle">
                                            {% if user.companies.company_name %}
                                                <p class="title"> {{user.companies.company_name}}</p>
                                            {% else %}
                                                <p class="title"> Company name</p>
                                            {% endif %}                                           
                                        </div>

                                        {% if user.companies.position_title %}
                                            <p> {{user.companies.position_title}}</p>
                                        {% else %}
                                            <p> Position Title </p>
                                        {% endif %}   
                                        
                                        {% if user.companies.location %}
                                            <p> {{user.companies.location}}</p>
                                        {% else %}
                                            <p>Location or Remote </p>
                                        {% endif %}   

                                        {% if user.companies.salary %}
                                            {% if user.companies.salary == none %}
                                                <p>Salary Not Disclosed</p>
                                            {% else %}
                                                 <p>{{user.companies.salary}} USD</p>
                                            {% endif %}                                      
                                        {% else %}
                                            <p>Starting Salary</p>
                                        {% endif %}
                                    </section>
                                
                                    <section class="skills">
                                        <p>Skills</p>
                                        {% if topSkills %}
                                            <section class="skills-container">
                                                {% for skill in topSkills %}
                                                    <div class="skill-circle">
                                                        <svg>
                                                            <circle cx="30" cy="30" r="30"></circle>
                                                            <circle cx="30" cy="30" r="30"></circle>
                                                        </svg>
                                                        <div class="text">{{skill}}</div>
                                                    </div>

                                                {% endfor %}  
                                            </section>
                                        {% else %}

                                            <p>Skills List</p>
                                        
                                        {% endif %}
                                    </section>
                                    
                                </section>
   
                            </section>
    
                        </section>

                    </section>

                    <!--Top Candidates Section-->
                    <section class="companiesSection">
                    
                        <p class="dashboard-title">Top Candidates</p>
                        <section class="companySubtitle">
                            {% if candidates %}
                                <p>These candidates have the skills you need</p>
                            {% else %}
                                <p>This is where candidates that match your required skills will be listed.</p>
                            {% endif %}
                        </section>
                        
                        <section class="profileCards">
                            
                            <!--Candidate Profile Cards-->
                            {% if candidates %}

                                {% for candidate in candidates %}
                            
                                    <section class="cards">

                                        <section class="infoSection">
                                            <div class="candidateTitle">
                                                <p class="title"> {{candidate.user.first_name}}, {{candidate.user.last_name}}</p>
                                            </div>

                                            <img class="candidateImg"src="/media/{{candidate.picture}}"  width="100px" height="100px">
                                            <p>{{candidate.get_workstatus_display}}</p>
                                            <p>{{candidate.get_availability_display}}</p>
                                            <p>{{candidate.get_relocation_display}}</p>
                                           
                                        </section>

                                        <!--<section class="skills">
                                            <p>Skills</p>
                                            {% if candidate.skills %}

                                                {% for skill in candidate.skills.all %}
                                                    <section class="skills-container">
                                                        <div class="skill-circle">
                                                            <svg>
                                                                <circle cx="30" cy="30" r="30"></circle>
                                                                <circle cx="30" cy="30" r="30"></circle>
                                                            </svg>
                                                            <div class="text">{{skill}}</div>
                                                        </div>

                                                    </section>
                                                {% endfor %}
                                            {% else %}
        
                                                <p>Candidate Has hid their skill</p>
                    
                                            {% endif %}
                                        </section>-->
                                        
                                        <section class="interests">
                                            <p>Interests</p>
                                            <section class="interestsContainer">
                                                {% for x in candidate.interests_list %}
                                                    <div class="interestsCards">
                                                        <p class="text">{{x}}</p>
                                                    </div>
                                                {% endfor %}
                                            </section>
                                        </section>
                                    </section>
                        
                                {% endfor %}

                            {% else %}

                                <!--Default Card if no Matches-->
                                <section class="cards">

                                    <section class="infoSection">
                                        <div class="companyTitle">
                                            <p class="title"> Candidate Name </p>
                                        </div>
                                        <img class="candidateImg"src="/media/defaultuser.png"  width="100px" height="100px">
                                        <p> Work Status </p>
                                        <p>Availability </p>
                                        <p>Open to relocate</p>
                                    </section>
                                
                                    <section class="interests">
                                        <p> Candidate's Interests</p>
                                        <section class="interestsContainer">
                                        
                                                <div class="interestsCards">
                                                    <p class="text">Front-End</p>
                                                </div>
                                           
                                                <div class="interestsCards">
                                                    <p class="text">Back-End</p>
                                                </div>
                                           
                                                <div class="interestsCards">
                                                    <p class="text">Dev-ops</p>
                                                </div>
                                           
                                        </section>
                                    </section>
                                    
                                </section>
                                
                            {% endif %}

                        </section>

                    </section>
                   
                </section>

            </section>
           
           
        </main>

    </body>

</html>