<!--Member Dashboard View-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Software Community</title>
    </head>

    <body>

        <!-- Main Nav Bar -->
        <header-component 
            linkOneHref="/" linkOneText="Home"
            linkTwoHref="/" linkTwoText="Companies"
            loginHref="/logout" loginText="Logout" 
            btnHref="/profile" btnText="Profile" 
        >
        </header-component>  
       

           

            
        <main>

            <!-- Main Intro --> 
            <section>

                <!--Left Column-->
                <section class="dashboard-lCol">
                    
                    <!--Profile Info -->
                    <section class="profileSection"> 
                        <img class="profileImg"src="/media/{{user.member.picture}}"  width="100px" height="100px"><br>
                        <section class="profileText">
                            <p class="dashboard-text">{{user.first_name}}, {{user.last_name}}</p>
                            <p class="dashboard-text">{{user.member.education}}</p>
                            <p class="dashboard-text">{{user.member.location}}</p>    
                        </section>
                    </section>

                    <!--Contact Links -->
                    <section class="contactSection">
                        <p class="dashboard-title">Contacts</p>
                        <section class="contactLinks">
                            <div class="contactCards">
                                <a href="mailto:{{user.member.email}}" aria-label="Member's Email"><img src="/static/images/dreamwareLogo.png" height="40px" width="40px"></a>
                            </div>
                            <div class="contactCards">
                                <a href="{{user.member.linkedin}}" target="blank" aria-label="Member's LinkedIn"><img src="/static/images/dreamwareLogo.png" height="40px" width="40px"></a>
                            </div>
                            <div class="contactCards">
                                <a href="{{user.member.github}}" target="blank" aria-label="Member's Github"><img src="/static/images/dreamwareLogo.png" height="40px" width="40px"></a>
                            </div>
                            <div class="contactCards">
                                <a href="{{user.member.portfolio}}" target="blank" aria-label="Member's Portfolio"><img src="/static/images/dreamwareLogo.png" height="40px" width="40px"></a>
                            </div>
                            <div class="contactCards">
                                <a href="{{user.member.portfolio}}" target="blank" aria-label="Member's Resume"><img src="/static/images/dreamwareLogo.png" height="40px" width="40px"></a>
                            </div>
                        </section>
                    </section>

                    <!--Interests Section -->
                    <section class="interestsSection">
                        <p class="dashboard-title">Interests</p>
                        <section class="interestsContainer">
                            {% for x in user.member.interests_list %}
                                <div class="interestsCards">
                                    <p class="dashboard-text">{{x}}</p>
                                </div>
                                <!--{% if 'Front-End' in x %}
                                <p class="frontend">{{x}}</p>
                                {% else %}
                                {{x}}
                                {% endif %}-->
                            {% endfor %}
                        </section>
                    </section>
                        
                    <!--Status Section -->
                    <section class="statusSection">
                        <p class="dashboard-title">Status</p>
                        <section class="statusContainer">
                            <p class="dashboard-text">Relocation: {{user.member.get_availability_display}}</p>
                            <p class="dashboard-text">Availability: {{user.member.get_availability_display}}</p>
                            <p class="dashboard-text">Work Status: {{user.member.get_workstatus_display}}</p>
                        </section>
                    </section>

                </section>


                <!--Right Column-->
                <section class="dashboard-rCol">
                    
                    <!--Personal Summaries-->
                    <section class="personalSection">

                        <!--Personal Goals-->
                        <section class="rowOne-lCol">
                            <p class="dashboard-title">Personal Goal</p>
                            <p class="dashboard-text"> {{user.member.personal_story}}</p>
                        </section>

                        <!--Personal Story-->
                        <section class="rowOne-rCol">
                            <p class="dashboard-title">My Story</p>
                            <p class="dashboard-text"> Previous Occupation: {{user.member.previous_occupation}}</p>
                            <p class="dashboard-text"> {{user.member.personal_story}}</p>
                        </section>

                    </section>

                    <!--Tech Skills-->
                    <section class="skillsSection">
                        
                        <p class="dashboard-title">Technology Skills</p>
                        <section class="techskills">
                           
                            {% for skill in user.member.skills.all %}
                            
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="50" cy="50" r="50"></circle>
                                        <circle cx="50" cy="50" r="50"></circle>
                                    </svg>

                                    <div class="text">
                                        {{skill}}
                                    </div>
                                </div>
                            
                            {% endfor %}

                        </section>

                    </section>

                    <!--Top Companies-->
                    <section class="skillsSection">
                    
                        <p class="dashboard-title">Top Companies</p>
                        <section class="techskills">
                            
                            {% for skill in user.member.skills.all %}
                            
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="50" cy="50" r="50"></circle>
                                        <circle cx="50" cy="50" r="50"></circle>
                                    </svg>

                                    <div class="text">
                                        {{skill}}
                                    </div>
                                </div>
                            
                            {% endfor %}

                        </section>

                    </section>
                   
                </section>

            </section>
           
           
        </main>

    </body>

    <!-- Footer 
    <footer-component></footer-component>-->

</html>
