<!--Index View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Software Community</title>
    </head>

    <body>

        <!-- Main Nav Bar -->
        {% if user.is_authenticated %}
            {% if user.is_company %}
                <header-component 
                    linkOneHref="/companyCandidateBoard" linkOneText="Candidates"
                    linkTwoHref="/companyProfile" linkTwoText="Profile"
                    loginHref="/logout" loginText="Logout" 
                    btnHref="/companyDashboard" btnText="Dashboard" 
                >
                </header-component> 
            {% else %}
                <header-component 
                    linkOneHref="/memberJobBoard" linkOneText="Jobs" 
                    linkTwoHref="/memberProfile" linkTwoText="Profile"
                    loginHref="/logout" loginText="Logout" 
                    btnHref="/memberDashboard" btnText="Dashboard" 
                >
                </header-component> 
            {% endif %}
        {% else %}
            <header-component 
                linkOneHref="/companies" linkOneText="Companies"
                linkTwoHref="/#features" linkTwoText="Features"
                loginHref="/login" loginText="Login" 
                btnHref="/register" btnText="Signup"
            > 
            </header-component>  
        {% endif %}

            
        <main>
            
            <!-- Main Intro -->
            <section class="dual-section">
                <section class="text-panel">
                    <h1>Dreaming In Software</h1>
                    <h2 class="subtitle">Join the community that celebrates your journey transitioning into tech.</h2>
                    <button-component href="/register" text="Join Today"></button-component>
                </section>
        
                <section class="img-panel">
                    <img src="/static/images/dreamer.svg"height="90%" width="90%"></img> 
                </section>
        
            </section>
           
            <!-- Features Section -->
            <section class="reversedDual-section" id="features">
                <section class="text-panel">
                    <h1>Create your member profile</h1>
                    <h2 class="subtitle">Share your story, and reason for transitioning. All the things companies won't see at first glance.</h2>
                </section>
        
                <section class="img-panel">
                    <img src="/static/images/customProfile.svg" height="80%" width="90%"></img> 
                </section>
                <!--Image of Profile card goes here-->
            </section>

            <section class="dual-section">
                <section class="text-panel">
                    <h1>Custom dashboard showcasing YOU</h1>
                    <h2 class="subtitle">Add your skills, edit your contact info, goals,and even view top partner companies that are hiring your skill set.</h2>
                </section>
        
                <section class="img-panel">
                    <img src="/static/images/curateDashboard.svg" height="80%" width="90%"></img> 
                </section>
                <!--Image of Dashboard goes here--MUST TAKE PIC AND CONVERT TO SVG-->
            </section>

            <!-- Partners Section -->
            <section class="reversedDual-section">
                <section class="text-panel">
                    <h1>Gauge what industry leaders want</h1>
                    <h2 class="subtitle">Companies share the skills they are looking for in new candidates.</h2>
                </section>
        
                <section class="img-panel">
                    <img src="/static/images/connectPartners.svg" height="80%" width="80%"></img> 
                </section>
                <!--Image of Dashboard goes here--MUST TAKE PIC AND CONVERT TO SVG-->
            </section>

            <section class="single-section">
                <h1>Top companies discover you via search</h1>
                <h2 class="subtitle">Easily connect with our partners that are sourcing software engineers for entry level opportunities. <br>Match with companies that are looking for your listed skills.</h2>
                <!--Company Card Examples-->
                <section class="companyCards">

                    <!--Card One-->
                    <section class="cards">

                        <section class="infoSection">
                            <div class="companyTitle">
                                <p class="title">Apple</p>
                            </div>
                            <p> Software Engineer</p>
                            <p>Cupertino,CA</p>
                            <p>85,000 USD</p>
                        </section>
                    
                        <section class="skills">
                            <p>Top 3 Skills</p>
                            <section class="skills-container">
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">C++</div>
                                </div>

                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">Swift</div>
                                </div>
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">React.JS</div>
                                </div>
                            </section>
                        </section>
                        
                    </section>

                    <!--Card Two-->
                    <section class="cards">

                        <section class="infoSection">
                            <div class="companyTitle">
                                <p class="title">Google</p>
                            </div>
                            <p> Early-Career Software Engineer</p>
                            <p>Remote</p>
                            <p>85,000 USD</p>
                        </section>
                    
                        <section class="skills">
                            <p>Top 3 Skills</p>
                            <section class="skills-container">
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">Java</div>
                                </div>

                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">Html5</div>
                                </div>
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">Golang</div>
                                </div>
                            </section>
                        </section>
                        
                    </section>

                    <!--Card Three-->
                    <section class="cards">

                        <section class="infoSection">
                            <div class="companyTitle">
                                <p class="title">Amazon</p>
                            </div>
                            <p> Devops Engineer</p>
                            <p>Seattle,WA</p>
                            <p>85,000 USD</p>
                        </section>
                    
                        <section class="skills">
                            <p>Top 3 Skills</p>
                            <section class="skills-container">
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">AWS</div>
                                </div>

                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">Java</div>
                                </div>
                                <div class="skill-circle">
                                    <svg>
                                        <circle cx="30" cy="30" r="30"></circle>
                                        <circle cx="30" cy="30" r="30"></circle>
                                    </svg>
                                    <div class="text">C++</div>
                                </div>
                            </section>
                        </section>
                        
                    </section>

                </section>
            </section>
      
        

            <!-- Community Section -->
            <section class="single-section">
                <h1>A Free Community, Free Connections</h1>
                <h2 class="subtitle">Bringing together everything you need to share your journey.</h2>
            </section>

            <section class="footer-section">
                <!-- Join Now Button-->
                <button-component href="/register" text="Join Today"></button-component>
            </section>


            <!-- FAQ Section 
            <section>
                <h1>Frequently Asked Questions</h1>
                <p>Learn A Little More</p>
            
                <section>
                    <h2>General Questions</h2>
                    <p>Dropdown questions</p>
                </section>

                <section>
                    <h2>Subscription & Billing</h2>
                    <p>Dropdown questions</p>
                </section>

            </section>-->
      

        </main>



        <!-- jQuery must come first, then Popper.js, then the Bootstrap JavaScript plugins.--
        <-- build:js js/main.js --
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
        <-- endbuild -->

    </body>

    <!-- Footer -->
    <footer-component></footer-component>

</html>

