<!--Company Job Post View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Create a job Post</title>
    </head>

    <body>

        <main>
            <a href="/"><img src="/static/images/dreamwareLogo.png" height="12%" width="12%"></a>
            <section class="homeBtn">
                <a href="/companyDashboard" class="btn-main">Dashboard</a>


            </section>


            <section class="updateUser-title">
                <h1>Create a New Job Post</h1>
                <h2 class="subtitle">Hey {{user.first_name}}! Hope you're having a great day!</h2>
            </section>

           
            <form  method="POST" enctype="multipart/form-data" >
                {% csrf_token %} 
                <section class="updateUser-title">
                    {% for message in messages %}
                        <p class="invalid-warning">{{message}}</p>
                    {% endfor %}
                </section>  

                <section class="updateProfileSection">
                    <!--User Data-->
                    <section class="userData-panel">

                        <h2>Personal Data</h2>
                        <label class="input-labels" for={ post_form.company_name }>Company Name</label>
                        {{ post_form.company_name }} <br>
                        <label class="input-labels" for={ post_form.company_title }>Position Title</label>
                        {{ post_form.position_title }} <br>
                        <label class="input-labels" for={ post_form.location }>Desired Location</label>
                        {{ post_form.location }} <br>
                        <label class="input-labels" for={ post_form.salary }>Salary</label>
                        {{ post_form.salary }}<br>
                        <label class="input-labels" for={ post_form.skill_one }>Skill One</label>
                        {{ post_form.skill_one }} <br> 
                        <label class="input-labels" for={ post_form.skill_two }>Skill Two</label>
                        {{ post_form.skill_two }} <br> 
                        <label class="input-labels" for={ post_form.skill_three }>Skill Three</label>
                        {{ post_form.skill_three }} <br> 
                        <label class="input-labels" for={ post_form.job_link }>Application Link</label>
                        {{ post_form.job_link }} <br> 
                        
                    </section>

                    <!--Company Position Data
                    <section class="memberData-panel">

                        <h2>Company Data</h2>
                        <label class="input-labels" for={ post_form.company_name }>Company Name</label>
                        {{ post_form.company_name }} <br>
                        <label class="input-labels" for={ post_form.company_title }>Company Title</label>
                        {{ post_form.company_title }} <br>
                        <label class="input-labels" for={ post_form.linkedin }>Linkedin</label>
                        {{ post_form.linkedin }} <br>

                    </section>-->

                </section>
                <!--Input Section-->
                <section class="updateUserInput">
                    <input class="btn-submit" type="submit" value="Update Profile" name="save" />
                    <input class="btn-cancel" type="reset" value="Cancel" href="/"> </input>
                </section>

            </form>


        </main>

    </body>

</html>