<!--Member Login View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Login Page</title>
    </head>

    <body>

        <main>
            <a href="/"><img src="/static/images/dreamwareLogo.png" height="10%" width="10%"></a>

            <section class="login-section">
                
                <section class="login-panel">
                    
                    <section>
                        <img src="/static/images/dreamwareLogo.png" height="45%" width="45%">
                        <h1 class="login-title">Member Login</h1>
                    </section>
                                      
                   
                    <form method="POST" action="/login/" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% for message in messages %}
                            <p class="invalid-warning">{{message}}</p>
                        {% endfor %}
                        
                        <label class="input-labels" for={ login_form.email }>Email</label>
                        {{ login_form.email }}<br>

                        <label class="input-labels" for={ login_form.password }>Password</label>
                        {{ login_form.password }}<br>
                        
                        <section>
                            <button class="btn-main" type="submit">Login</button>
                            <p>No Account? <a class="cta-text" href="/register">Signup</a></p>
                        </section>
                    </form>


                </section>
        
                <section class="login-imgpanel">
                    <img src="/static/images/loginPage.svg"height="100%" width="100%"/>
                </section>
      
            </section>

        </main>

    </body>

    <!-- Footer 
    <footer-component></footer-component>-->

</html>



