<!--Member Update Profile View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Edit Profile Page</title>
    </head>

    <body>

        <main>
            <a href="/"><img src="/static/images/dreamwareLogo.png" height="12%" width="12%"></a>
            <section class="homeBtn">
                <a href="/memberDashboard" class="btn-main">Dashboard</a>


            </section>


            <section class="updateMember-title">
                <h1>Edit Your Profile</h1>
                <h2 class="subtitle">Hey {{user.first_name}}! Hope you're having a great day!</h2>
            </section>

           
            <form  method="POST" enctype="multipart/form-data" >
                {% csrf_token %} 
                <section class="updateMember-title">
                {% for message in messages %}
                    <p class="invalid-warning">{{message}}</p>
                {% endfor %}
                    </section>  
                <section class="updateProfileSection">
                    <!--User Data-->
                    <section class="userData-panel">
                        <h2>Personal Data</h2>
                        <label class="input-labels" for={ user_form.first_name }>First Name</label>
                        {{ user_form.first_name }}<br>
                        <label class="input-labels" for={ user_form.last_name }>Last Name</label>
                        {{ user_form.last_name }} <br> 
                        <label class="input-labels" for={ user_form.email }>Email</label>
                        {{ user_form.email }} <br>
                        {{ profile_form.picture }} <br>
                        <label class="input-labels" for={ user_form.personal_goal }>Personal Goal</label>
                        {{ profile_form.personal_goal }} <br>
                        <label class="input-labels" for={ user_form.location }>Location</label>
                        {{ profile_form.location }} <br>
                    </section>

                    <!--Member Data-->
                    <section class="memberData-panel">
                        <h2>Member Data</h2>
                        <label class="input-labels" for={ user_form.personal_story }>Personal Story</label>
                        {{ profile_form.personal_story }} <br>
                        <label class="input-labels" for={ user_form.previous_occupation }> Previous Occupation</label>
                        {{ profile_form.previous_occupation }} <br>

                        <label class="input-labels" for={ user_form.education }> Education</label>
                        {{ profile_form.education }} <br>
                        <label class="input-labels" for={ user_form.linkedin }> Linkedin</label>
                        {{ profile_form.linkedin }} <br>
                        <label class="input-labels" for={ user_form.github }> Github</label>
                        {{ profile_form.github }} <br>
                        <label class="input-labels" for={ user_form.portfolio }> Portfolio</label>
                        {{ profile_form.portfolio }} <br>
                      
                        <label class="input-labels" for={ user_form.availability }> Availability</label>
                        {{ profile_form.availability }} <br>
                        <label class="input-labels" for={ user_form.workstatus }> Work Status</label>
                        {{ profile_form.workstatus }} <br>
                        <label class="input-labels" for={ user_form.relocation }> Relocation</label>
                        {{ profile_form.relocation }} <br>

                        <p>Interests</p>
                        <section class="checkboxesFormContainer">
                            
                            {% for interest in profile_form.interests %}

                                <label for="{{ interest.id_for_label }}" class="interestsSkillsForm">
                                
                                    <div class="interestsTitle">
                                        <p class="title">{{ interest.choice_label }} </p>
                                    </div>
                                    {{ interest.tag }} 
                                    <span class="skill-checkmark"></span> 
                            
                                </label>

                            {% endfor %}

                        </section>

                        <p>Technology Skills</p>
                        <section class="checkboxesFormContainer">
                            {% for skill in profile_form.skills %}

                                <label for="{{ skill.id_for_label }}" class="interestsSkillsForm">
                                
                                    <div class="interestsTitle">
                                        <p class="title">{{ skill.choice_label }} </p>
                                    </div>
                                    {{ skill.tag }} 
                                    <span class="skill-checkmark"></span> 
                            
                                </label>

                            {% endfor %}

                        </section>
                            

                    </section>

                </section>
                <!--Input Section-->
                <section class="updateMemberInput">
                    <input class="btn-submit" type="submit" value="Update Profile" name="save" />
                    <input class="btn-cancel" type="reset" value="Cancel" href="/"> </input>
                </section>

            </form>


        </main>

    </body>

</html>