<!--Members Job Board Index View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}"> 
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Transitioning Engineers</title>
    </head>

    <body>

        <!-- Main Nav Bar -->
        <header-component 
            linkOneHref="/" linkOneText="Home" 
            linkTwoHref="/memberProfile" linkTwoText="Profile"
            loginHref="/logout" loginText="Logout" 
            btnHref="/memberDashboard" btnText="Dashboard" 
        >
        </header-component> 
              
            
        <main>
            
            <!-- Greeting Section -->
            <section class="greeting-section">
                <h1>Partner Companies' Job Board</h1>
                <h2 class="subtitle"> Welcome {{user.first_name}}! Browse through our partner's job postings<br>
                    and apply for your next opportunity!
                </h2>
            </section>

            <!--Companies Job Posts-->
            <section class="boardSection">
                <section class="companyCards">
                    {% if jobs %}

                        {% for job in jobs %}
                    
                            <section class="cards">

                                <section class="infoSection">
                                    <div class="companyTitle">
                                        <p class="title"> {{job.company_name}}</p>
                                    </div>
                                
                                    <p class="title"> {{job.position_title}}</p>
                                    <p class="title">{{job.location}}</p>
                                    {% if job.salary == none %}
                                        <p >Salary Not Disclosed</p>
                                    {% else %}
                                        <p class="title">{{job.salary}} USD</p>
                                    {% endif %}
                                   
                                    <p>Posted: {{job.date_posted.date}}</p>
                                </section>
                            
                                <section class="skills">
                                    <p>Top 3 Skills</p>
                                    <section class="skills-container">
                                        <div class="skill-circle">
                                            <svg>
                                                <circle cx="30" cy="30" r="30"></circle>
                                                <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="text">{{job.skill_one}}</div>
                                        </div>

                                        <div class="skill-circle">
                                            <svg>
                                                <circle cx="30" cy="30" r="30"></circle>
                                                <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="text">{{job.skill_two}}</div>
                                        </div>
                                        <div class="skill-circle">
                                            <svg>
                                                <circle cx="30" cy="30" r="30"></circle>
                                                <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="text">{{job.skill_three}}</div>
                                        </div>
                                    </section>
                                </section>

                                <section class="btn-container">
                                    <a href="{{job.job_link}}" target="_blank" class="btn-main">Apply</a>
                                </section>
                                
                            </section>
                           
                        {% endfor %}

                    {% else %}

                        <!--Error Loading-->
                        <p class="dashboard-title">Sorry their are no companies! :(</p>
                        <section class="cards">

                            <section class="infoSection">
                                <div class="companyTitle">
                                    <p class="title"> Company Name </p>
                                </div>
                                <p> Position Title </p>
                                <p>Location or Remote </p>
                                <p>Starting Salary</p>
                            </section>
                        
                            <section class="skills">
                                <p>Top 3 Skills</p>
                                <section class="skills-container">
                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="30" cy="30" r="30"></circle>
                                            <circle cx="30" cy="30" r="30"></circle>
                                        </svg>
                                        <div class="text">One</div>
                                    </div>

                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="30" cy="30" r="30"></circle>
                                            <circle cx="30" cy="30" r="30"></circle>
                                        </svg>
                                        <div class="text">Two</div>
                                    </div>
                                    <div class="skill-circle">
                                        <svg>
                                            <circle cx="30" cy="30" r="30"></circle>
                                            <circle cx="30" cy="30" r="30"></circle>
                                        </svg>
                                        <div class="text">Three</div>
                                    </div>
                                </section>
                            </section>
                            
                        </section>
                        
                    {% endif %}

                </section>
            </section>

        </main>

    </body>

    <!-- Footer -->
    <footer-component></footer-component>

</html>

