<!--Member Registration View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Register Page</title>
    </head>

    <body>

        <main>
            <a href="/"><img src="/static/images/dreamwareLogo.png" height="13%" width="13%"></a>

            <section class="register-section">
                
                <section>
                    <!--<img src="/static/images/dreamwareLogo.png" height="25%" width="25%">-->
                    <h1 class="register-title">Become A Member</h1>
                    <p class="register-text">Select a profile type</p>
                </section>
                
                <!--Register Form-->
                <form  method="POST" action="/register/" enctype="multipart/form-data" class="register-form">
                    {% csrf_token %} 
                    
                    <!--Profile Cards Radio Input-->
                    <section class="loginCards">
                        {% for radio in createuser_form.is_company %}

                            <label for="{{ radio.id_for_label }}" class="memberProfile">
                                <!--{{ radio.choice_label }}-->
                                <section class="cards">
                                    <section class="infoSection">
                                        
                                        <div class="companyTitle">
                                            <p class="title">{{ radio.choice_label }} </p>
                                        </div>

                                        {% if radio.choice_label == 'Member'%}
                                            <img src="/static/images/memberAccount.svg" height="185px" width="190px">
                                        {% else %}
                                            <img src="/static/images/companyAccount.svg" height="185px" width="190px">
                                        {% endif %}

                                        <!--<input type="radio" checked="checked" name="radio">-->
                                        {{ radio.tag }} 
                                        <span class="checkmark"></span> 
                                        
                                    </section>
                                </section>
                                <!--<span class="radio">{{ radio.tag }}</span>-->
                            </label>

                        {% endfor %}
                    </section>

                    <!--Form Warnings-->
                    {% for field in createuser_form %}
                        {% for error in field.errors %}
                        <p class="invalid-warning">{{error}}</p>
                        {% endfor %}
                    {% endfor %}
                   
                    <!--Input Section-->
                    <section class="registerInputSection">

                        <section class="register-namePanel">
                            <!--First Name Input-->
                            <label class="input-labels" for={ createuser_form.first_name }>First Name</label>
                            {{ createuser_form.first_name }}<br>

                            <!--Email Input-->
                            <label class="input-labels" for={ createuser_form.email }>Email</label>
                            {{ createuser_form.email }}<br>
                            
                        </section>
                       
                        <section class="register-secretPanel">
                            <!--Last Name Input-->
                            <label class="input-labels" for={ createuser_form.last_name }>Last Name</label>
                            {{ createuser_form.last_name }}<br>

                            <!--Password Input-->
                            <label class="input-labels" for={ createuser_form.password }>Password</label>
                            {{ createuser_form.password }}<br>
                        </section>
                       
                    </section>

                    <!--Submit Button & Link-->
                    <section>
                        <button class="btn-main" type="submit">Create your profile</button>
                        <p>Already a Member? <a class="form-registerlink" href="/login">Login</a></p>
                    </section>

                </form>

      
            </section>

        </main>

    </body>

</html>