<!--Member Registration View-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8" />
        <meta name= "viewport" content= "width=device-width, initial-scale=1" />

        <!-- CSS -->
        {% load static %}   
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <!-- Custom Components -->
        <script src="{% static 'components/header.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/footer.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'components/button.js' %}" type="text/javascript" defer></script>

        <title>DreamWare: Register Page</title>
    </head>

    <body>

        <main>
            <a href="/"><img src="/static/images/dreamwareLogo.png" height="10%" width="10%"></a>

            <section class="register-section">
                
                <section class="register-panel">
                    
                    <section>
                        <img src="/static/images/dreamwareLogo.png" height="45%" width="45%">
                        <h1 class="register-title">Become A Member</h1>
                    </section>
                    
                                      
                    <!--<form method="POST" action="/register/">
                        {% csrf_token %}
                       
                        {% for message in messages %}
                        <p class="invalid-warning">{{message}}</p>
                        {% endfor %}
                        
                        <label class="input-labels" for="firstname">First Name</label>
                        <input type="text" name="firstname" placeholder="batman@gmail.com" required/><br>

                        <label class="input-labels" for="lastname">Last Name</label>
                        <input type="text" name="lastname" placeholder="batman@gmail.com"required/><br>

                        <label class="input-labels" for="email">Email</label>
                        <input type="text" name="email" placeholder="batman@gmail.com"required/><br>

                        <label class="input-labels" for="password">Password</label>
                        <input type="password" name="password" placeholder="Secret Password"required/><br>

                        <label class="input-labels" for="password2">Reenter Password</label>
                        <input type="password" name="password2" placeholder="Secret Password"required/><br>
                        
                        <section>
                            <button class="btn-main" type="submit">Create your profile</button>
                            <p>Already a Member? <a class="form-registerlink" href="/login">Login</a></p>
                        </section>

                    </form>-->

                    <form  method="POST" action="/register/" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {% for field in createuser_form %}
                            {% for error in field.errors %}
                            <p class="invalid-warning">{{error}}</p>
                            {% endfor %}
                        {% endfor %}
                       
                        <label class="input-labels" for={ createuser_form.first_name }>First Name</label>
                        {{ createuser_form.first_name }}<br>
                      

                        <label class="input-labels" for={ createuser_form.last_name }>Last Name</label>
                        {{ createuser_form.last_name }}<br>

                        <label class="input-labels" for={ createuser_form.email }>Email</label>
                        {{ createuser_form.email }}
                        <br>

                        <label class="input-labels" for={ createuser_form.password }>Password</label>
                        {{ createuser_form.password }}<br>

                        <label class="input-labels" for={ createuser_form.password2 }>Renter-Password</label>
                        {{ createuser_form.password2 }}<br>

                        <section>
                            <button class="btn-main" type="submit">Create your profile</button>
                            <p>Already a Member? <a class="form-registerlink" href="/login">Login</a></p>
                        </section>

                 
                    </form>

                </section>
        
                <section class="register-imgpanel">
                    <img src="/static/images/community.svg"height="60%" width="100%"/>
                </section>
      
            </section>

        </main>

    </body>

    <!-- Footer 
    <footer-component></footer-component>-->

</html>