<!-- 
    HTML file that renders the index page
    Add status files,images  etc.

-->



{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h1>
    This is a test 
</h1>

{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% else %}
<a href="/login/">Login</a>
{% endif %}


<!--

{% for member in members %}
<div>
    <h1>{{member.first_name}}</h1>
    <h1>{{member.last_name}}</h1>
    <p> {{member.email}}</p>



{% endfor %}

{% for skill in skills %}

    <h1>{{skill.name}}</h1>
    <h1>{{skill.member.id}}</h1>
    {% if skill.proficiency_level == 'BG' %}
    <p>He is a beginner</p>
    {% else %}
    <p> {{skill.proficiency_level}}</p>
    {% endif %}
</div>
{% endfor %}
-->
<!-- 
    Creating a form and POST request Steps
    1-Create the form in the html file
    2-Create the view that shows the POST data
        -ensure the name of textarea is matching to the name in 
        POST['HERE']
        -pass the variable to the render
    3-Key from POST data in views.py is passed to new html page

-->

<form method ="POST" action="user/">
    <!-- Token needed to pass data-->
    {% csrf_token %}
    <!-- name must match the POST data in the view-->
    <textarea name="text" rows="25" cols="100"></textarea>
    <br/>
    <input type="submit"/>
</form>