<!--Member Profile View-->

{% for message in messages %}
    <h2>{{message}}</h2>
{% endfor %}
<h1>Edit Profile Page</h1>

<h1>Welcome {{user.first_name}}, this is your profile</h1>

<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    First Name: {{ user_form.first_name }}<br>
    Last Name: {{ user_form.last_name }} <br> 
    Email: {{ user_form.email }} <br> 

    Picture: {{ profile_form.picture }} <br>
    Location: {{ profile_form.location }} <br>
    Personal Story:{{ profile_form.personal_story }} <br>
    Education: {{ profile_form.education }} <br>
    Linkedin: {{ profile_form.linkedin }}  <br>
    Github: {{ profile_form.github }}  <br>
    Portfolio: {{ profile_form.portfolio }}  <br>
    Previous Occupation: {{ profile_form.previous_occupation }}  <br>
    Interests: {{ profile_form.interests }}  <br>
    Availability: {{ profile_form.availability }}  <br>
    Work Status: {{ profile_form.workstatus }}  <br>
    Tech Skills: {{ profile_form.skills }} <br><br><br>

         
    <input type="submit" value="Save Changes" name="save" />
    <input type="reset" value="Cancel" name="cancel" />
    <br/>
</form>
<a href="/logout/">Logout</a>
<a href="/dashboard/">Dashboard</a>

