/*Primary Color :#7851A9-(120, 81, 169)
Secondary COlor:#D9CDE7-(217, 205, 231)*/

html,body{
    /*background-color: blue;*/
    /*display:flex*/
    background-color: #ffffff;
    font-family: 'JosefinSans-regular', sans-serif;
    /*width: auto;/*100vw*/
    scroll-behavior: smooth;
}


/*
    Font styling
*/

/*H1 styling*/
@font-face {
    font-family: 'JosefinSans-bold';
    src: local('JosefinSans-Bold'),
        url('fonts/JosefinSans-Bold.ttf') format("truetype");
}

/*H2 styling*/
@font-face {
    font-family: 'JosefinSans-semibold';
    src: local('JosefinSans-SemiBold'),
        url('fonts/JosefinSans-SemiBold.ttf') format("truetype");
}

/*P styling*/
@font-face {
    font-family: 'JosefinSans-regular';
    src: local('JosefinSans-Regular'),
        url('fonts/JosefinSans-Regular.ttf') format("truetype");
}


h1 {
    color: rgba(120, 81, 169);
    font-family: 'JosefinSans-bold',sans-serif;
    font-size: 50px;
}

h2 {
    color: #000000;
    font-family: 'JosefinSans-semibold',sans-serif;
    font-size: 26px;
}

p {
    color: #000000;
    font-family: 'JosefinSans-regular', sans-serif;
    font-size: 18px;
}

/* Nav links global*/
a {
    text-decoration: none ;
    color: #000000
}

/*Purple Text CTA*/
.cta-text{
    font-size: inherit;
    color:rgba(120, 81, 169)
}



/*------------------------------------------------------------------------*/


/*
   Home Page styling
*/

.dual-section {
    padding-top: 9.5em;
    display:flex;
    flex-direction: row;
    width:auto;
    /*height: 100%;*/
    
   /* background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);*/
    
    /*Border Styling for Section
    border-style: solid;
    border-bottom-color: #D9CDE7;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;*/   
}
.reversedDual-section {
    padding-top: 9.5em;
    display:flex;
    flex-direction: row-reverse;
    width:auto; 
}

.text-panel{
    width: 55%;
    text-align: center;
    align-self: center;
}

.subtitle{
    margin-top: -30px;
}

.img-panel{
    width: 45%;
    margin-top: 2em;
    align-self: center;
    justify-content: center;
}

.single-section {  
    padding-top: 12em;
    text-align: center;
}

.footer-section {  
    margin-top: 5em;
    margin-bottom: 8em;
    text-align: center;
}


/*------------------------------------------------------------------------*/


/*
    Header Component
*/

header {
    padding-bottom: 0em;
    font-size: 16px;
}
.nav-container {
  height: 45px;
  width: 98.5%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /*background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);*/
  padding-top:10px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: rgba(120, 81, 169);
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 100000;
  
}

.nav-links {
  display: inherit;
  margin-left: auto;   
  margin-right: 1em;
}

.nav-btn {
    /*display: block;*/
    background-color:rgba(217, 205, 231);
    padding: 10px;
    border-radius: 15px;
    border-color: rgba(120, 81, 169);
    align-self: center;
}

.nav-btn:hover {
    background-color:rgba(120, 81, 169);
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


/*------------------------------------------------------------------------*/


/*
    Footer Component
*/
.footer-nav{
    font-size: 16px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-bottom: 5px;
    border-style: solid;
    border-top-color: rgba(120, 81, 169);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.footer-nav .nav-links{
    display: inherit;
   margin-right: 1em;

}


/*------------------------------------------------------------------------*/


/*
    BLUR
*/
.blur {
    position: absolute;
    top: 140px;
    left: 240px;
    width: 250px;
    height: 160px;
    background: rgba(255, 255, 255, 0.5);/*last digit is transparency*/
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(217, 205, 231);; 
}

.blur-square {
    position:relative;
    top: 0px;
    left: 60px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.5px);
    border-radius: 10%;
    border: 1px solid rgba(217, 205, 231);; 
}

.blur-background {
    background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(217, 205, 231);;
    margin-top: 50px;
    padding: 15px; 
}

.title-blur {
    background: rgba(94, 0, 155, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 400px;
    padding: 1em;
    border: 1px solid rgba(217, 205, 231);; 
}


/*------------------------------------------------------------------------*/


/*
    Button Component Styling

*/

button{
    border-style: none;
}

.btn-main {
    background-color:rgba(217, 205, 231);
    font-size: 20px !important;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 15px;

}
.btn-main:hover {
    background-color:rgba(120, 81, 169);
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.352);

}

.btn-cancel {
    background-color:rgb(255, 0, 0);
    color: #ffffff;
    font-size: 20px !important;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 1em;
    width:auto

}

.btn-cancel:hover {
    background-color:rgb(255, 255, 255);
    color: #000000 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.352);

}

.btn-submit {
    background-color:rgba(217, 205, 231);
    font-size: 20px !important;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    width:auto

}

.btn-submit:hover {
    background-color:rgba(120, 81, 169);
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.352);

}
/*------------------------------------------------------------------------*/


/*
    Form General Styling
*/

.invalid-warning{
    color: red;
}


.errorlist{
    color: red;
    list-style: none;
    margin-top: -10px;

}

input{
    width: 75%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    text-align: center;
    margin-bottom: 2em; 
    border: 1px solid rgb(121, 81, 169);
}

.input-labels{
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(121, 81, 169);
    border-radius: 5px;
    padding: 0.3em; 
    margin-left: 10px;/*Controls positioning of Labels*/
    margin-top: -10px;  
}


/*------------------------------------------------------------------------*/


/*
    Login Page Styling
*/

.login-section {
    display:flex;
    flex-direction: row;
    width:100%;
   /* background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);*/
    
    /*Border Styling for Section
    border-style: solid;
    /*border-bottom-color: #D9CDE7;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent; */
}

.login-panel{
    width:40%;
    height: auto;
    margin-top: 2em;
    align-self: center;
    text-align: center;
    padding-top: 5%;
    border-style: solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: rgba(120, 81, 169);
    border-left-color: transparent; 

}

.login-imgpanel{
    width: 60%;
    height: auto;
    margin-top: 2em; 
}

.login-title{
    margin-top:-1px;
}



/*------------------------------------------------------------------------*/


/*
    Register Page Styling
*/

.register-section {
    display:flex;
    flex-direction: column;
    width:100%;
    align-self: center;
    text-align: center;
    margin-top: 0.8em;
}
.register-form{
    width: 50%;
    height: auto;
    align-self: center;
    text-align: center;
    margin-top: 2.5em;
}

.register-title{
    margin-top:0.5px;
    font-size: 55px;
}

.register-text{
    margin-top:-3.1em;
}

.registerInputSection {
    display: flex;
    justify-content: center;
    margin-top: 3em;

}
.registerInputSection input{
    width: 85%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    text-align: center;
    margin-bottom: 1.3em; 
    border: 1px solid rgba(121, 81, 169, 0.47);
}
.register-namePanel{
    width: 50%;
}

.register-secretPanel{
    width: 50%;
}


/* PROFILE cards/Radio STYLING */
.loginCards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.loginCards .cards {
    /* WHITE CARD-PURPLE SHADE*/
    background: rgb(255, 255, 255);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba(121, 81, 169, 0.236);
    padding: 15px; 
    max-height:300px;
    max-width:300px;
    height: auto;
    width: auto;
    margin: 0 35px 0 35px;

    /*Container code for RADIO BUTTONS*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loginCards .infoSection{
    line-height: 5px !important;
}

.loginCards .companyTitle{
    position: relative;
    top: -35px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1.5px 25px 1.5px rgb(120, 81, 169, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(217, 205, 231);;
    margin-bottom: -30px;
}

.loginCards .title{
    color: #000000;
    font-family: 'JosefinSans-semibold',sans-serif;
    font-size: 20px;
}

/* Member Profile Card Hover effect on Card */
.memberProfile .cards:hover{
    border: 1px solid rgba(121, 81, 169);
    box-shadow: 0 1.5px 15px 1.5px rgba(121, 81, 169, 0.5);
}

/* Member Profile Card Hover effect on checkmark */
.memberProfile:hover input ~ .checkmark {
    background: rgba(121, 81, 169, 0.1);
    box-shadow: 0 1.5px 25px 1.5px rgb(255, 255, 255);
    border: 1px solid rgb(120, 81, 169);
}

/* GLOBAL-Hide the browser's default radio button */
.memberProfile input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* GLOBAL-Checkmark styling */
.checkmark {
    position: absolute;
    top: 205px;
    left: 195px;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1.5px 25px 1.5px rgba(217, 205, 231);
    border: 1px solid rgb(120, 81, 169);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

/* GLOBAL-SELECTED checkmark styling*/
.memberProfile .checkmark:after {
    left: 14px;
    top: 3px;
    width: 7.5px;
    height: 25px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* GLOBAL- checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* GLOBAL- SELECTED CHECKMARK BACKGROUND styling */
.memberProfile input:checked ~ .checkmark {
    background-color: rgb(120, 81, 169);
    box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169);
}
/* GLOBAL-SHOW checkmark when selected*/
.memberProfile input:checked ~ .checkmark:after {
    display: block;
}

/*------------------------------------------------------------------------*/


/* 
    Dashboard Page Styling
    -GlOBAL + MemberDashboard
*/

/*NOT USED
.dashboard-container{ /WHEN ADDED TO HTML, MAKES ENTIRE BG MOVE ON SCROLL/
    background: rgb(120, 81, 169, 0.05);
    width:auto;
    overflow: hidden;
}
*/

.dashboard{
    background: rgba(217, 205, 231, 0.2);
    background-size: contain;
    height: auto;
}


/*Dashboard Font*/
.dashboard-title{
    display: block !important;
    color: #000000;
    font-family: 'JosefinSans-semibold',sans-serif;
    font-size: 20px; 
}

.dashboard-subtitle {
    margin-top: -15px;
}

.dashboard-text{
    color: #000000;
    font-family: 'JosefinSans-regular', sans-serif;
    font-size: 14px;
}

/*------------------------------------------------------------------------*/

/*
    Left Column Styling
*/
.dashboard-lCol{
    position: fixed;
    width: 25%;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    /*background-color: #ffffff !important;*/
    /*Border Styling for Column*/
    border-style: solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color:  rgba(217, 205, 231);
    border-left-color: transparent;  
}

    /* Profile Section*/
    .profileSection{

        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        text-align: center;
        margin: 25px 10px 10px 10px;

    }

    .profileImg{
        margin-top: 10px;
        background: rgba(217, 205, 231, 0.2);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border: 3px solid rgba(217, 205, 231);
        padding: 0.5em;
        border-radius:75%
    }


    .profileText{
        line-height: 1px;
    }

    /* Contact Section*/
    .contactSection{
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        margin: 15px 11px 11px 11px;
        padding: 0 7px 10px 7px;

    }

    .contactLinks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly; 
    }

    .contactCards{
        height: max-content;
        width: max-content;
        padding: 5px;
        background-color: #ffffff;
        box-shadow: 0 1.5px 5px 1.5px rgb(120, 81, 169, 0.3);
        border: 1px solid rgba(217, 205, 231);
        border-radius: 10px; 
    }

    /*Global Icon styling*/
    .contactCards a {
        color: rgb(120, 81, 169) !important;
    }
    
    /* Interests Section */
    .interestsSection{

        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        margin: 15px 11px 11px 11px;
        padding: 0 7px 10px 7px;
      
    }

    .interestsContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .interestsCards{
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        box-shadow: 0 1.5px 5px 1.5px rgb(120, 81, 169, 0.3);
        border: 1px solid rgba(217, 205, 231);
        border-radius: 10px;
        padding: 1.5px;
        margin: 1px;
        text-align: center;
      
    }

    /* Status Section */
    .statusSection{

        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        margin: 15px 11px 11px 11px;
        padding: 0 7px 7px 7px;
    }

    .statusContainer{
        display: inherit;
        flex-flow: inherit;
        line-height: 5px;
       
    }


/*------------------------------------------------------------------------*/


/*
    Right Column Styling
*/
.dashboard-rCol{
    width: 75%;
    margin-left: 25%;
}

/*
    MemberDashboard First Row
*/
.personalSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 48px;
    height:auto;
}

    /*Personal Goal Section*/
    .rowOne-lCol{        
        width: 46%;
        margin: 30px 5px 0 0;
        padding: 5px;
        justify-content: center;
        text-align: center;  
        /*border: 3px solid ;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: rgba(217, 205, 231);;
        border-left-color: transparent;*/
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
    }

    /*Personal Story Section*/
    .rowOne-rCol{
        width: 46%;
        margin: 30px 0 0 0;
        padding: 5px;
        justify-content: center;
        text-align: center; 
        /*background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid rgba(217, 205, 231);;*/
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
    }

/*
    Second Row
*/

.skillsSection{
    background: rgb(255, 255, 255);
    box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin: 15px;
    padding: 7px 0 25px 0;
    padding-top: 7px;
        
}
    .techskills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background: rgba(217, 205, 231, 0.2);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        padding: 15px;
        margin: 10px 100px 10px 100px;
        
        /* ALLOWS SCROLLING WITHIN TECHSKILLS
        overflow-y:scroll;
        overflow-x: hidden;
        */
    }
    
    /*TechSkill SVG*/
    .techskills svg {
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 1000;
    }

    /*TechSKill SVG Circle*/
    .techskills svg circle {
        fill: none;
        stroke: #ffffff;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);         
    }

    /*Inner circle stroke*/
    .techskills svg circle:nth-child(2) {
        stroke-dasharray: 440;/*440 WORDS FOR BIGGER CIRCLES*/
        stroke-dashoffset: 440;
    }

    /*outer circle stroke-Purple*/
    .techskills svg circle:nth-child(2) {
        stroke-dashoffset: calc(440 - (330 * 100) / 100 );/*Same calc(0);*/
        stroke: rgba(120, 81, 169);   /*(217, 205, 231)  */      
        /*animation: progress 4s infinite linear; */  
    }
    
    /*Inner Frosted circle-DON'T CHANGE*/
    .skill-circle {
        position: relative;
        flex-flow: row wrap; /*MAKE LONG SKILL TEXT BREAK*/
        width: 110px;
        height: 110px;
        border-radius: 50%;
        box-shadow: inset 0 0 30px rgb(120, 81, 169);
        background: inherit;
        backdrop-filter: blur(5px);
        z-index: 1000;
        margin: 3px;/*Space between*/
    }
        
    /*Inner frosted circle-text*/
    .skill-circle .text {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000000;
        font-family: 'JosefinSans-regular', sans-serif;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
        

/*
    Third Row
*/

.companiesSection{
    background: rgb(255, 255, 255);
    box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin: 15px;
    padding-top:7px;
      
}
    .companyCards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-top: 50px;         
    }

    .companyCards .cards {
        /* WHITE CARD-PURPLE SHADE*/
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgba(121, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        /*border: 1px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: rgba(217, 205, 231);;
        border-left-color: rgba(217, 205, 231);;*/
        border: 1px solid rgba(217, 205, 231);;
        margin-bottom: 35px;
        padding: 15px; 
        max-height:300px;
        max-width:300px;
    }

    .companyCards .infoSection{
        line-height: 5px !important;
    }

    .companyCards .companyTitle{
        position: relative;
        top: -35px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1.5px 25px 1.5px rgb(120, 81, 169, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(217, 205, 231);;
        margin-bottom: -30px;

        
    }

    .companyCards .title{
        color: #000000;
        font-family: 'JosefinSans-semibold',sans-serif;
        font-size: 20px;
    }
    
    /* Skills Section */
    .companyCards .skills{
        /*background: rgba( 255, 255, 255, 0.75 );
        box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);*/
        /* WHITE CARD-PURPLE SHADE*/
        background: rgba(217, 205, 231, 0.2);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        padding: 0 5px 5px 5px;
        
    }

    .companyCards .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -10px;
    }

    /*TechSkill SVG*/
    .companyCards svg {
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 1000;
    }

    /*TechSKill SVG Circle*/
    .companyCards svg circle {
        fill: none;
        stroke: #ffffff;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);         
    }

    /*Inner circle stroke*/
    .companyCards svg circle:nth-child(2) {
        stroke-dasharray: 440;/*440 WORDS FOR BIGGER CIRCLES*/
        stroke-dashoffset: 440;
    }

    /*outer circle stroke-Purple*/
    .companyCards svg circle:nth-child(2) {
        stroke-dashoffset: calc(440 - (330 * 100) / 100 );/*Same calc(0);*/
        stroke: rgba(120, 81, 169);   /*(217, 205, 231)  */      
        /*animation: progress 4s infinite linear; */  
    }
    /*Inner Frosted circle-DON'T CHANGE*/
    .companyCards .skill-circle {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: inset 0 0 30px rgb(120, 81, 169);
        background: inherit;
        backdrop-filter: blur(5px);
        z-index: 1000;
        margin: 1px;/*Space between skills*/
    }

    /*Inner frosted circle-text*/
    .companyCards .text {
        position: absolute;
        display: flex;  
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000000;
        font-family: 'JosefinSans-regular', sans-serif;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    
         
/* 
    Company Dashboard Page Styling
*/     
    /* Job posting Container - thirdRow*/
    .postingSection{
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        text-align: center;
        margin: 77px 15px 15px 15px;
        padding-top:7px;
        
    }
    .company-techskills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background: rgba(217, 205, 231, 0.2);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        padding: 15px;
        margin: 50px 10px 10px 10px ;

    }

    /*TechSkill SVG*/
    .company-techskills svg {
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 1000;
    }

    /*TechSKill SVG Circle*/
    .company-techskills svg circle {
        fill: none;
        stroke: #ffffff;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);         
    }

    /*Inner circle stroke*/
    .company-techskills svg circle:nth-child(2) {
        stroke-dasharray: 440;/*440 WORDS FOR BIGGER CIRCLES*/
        stroke-dashoffset: 440;
    }

    /*outer circle stroke-Purple*/
    .company-techskills svg circle:nth-child(2) {
        stroke-dashoffset: calc(440 - (330 * 100) / 100 );/*Same calc(0);*/
        stroke: rgba(120, 81, 169);           
        /*animation: progress 4s infinite linear; */  
    }

    /*Inner Frosted circle-DON'T CHANGE*/
    .company-techskills .skill-circle {
        position: relative;
        flex-flow: row wrap; /*MAKE LONG SKILL TEXT BREAK*/
        width: 110px;
        height: 110px;
        border-radius: 50%;
        box-shadow: inset 0 0 30px rgb(120, 81, 169);
        background: inherit;
        backdrop-filter: blur(5px);
        z-index: 1000;
        margin: 3px;/*Space between*/
    }
    
    /*Inner frosted circle-text*/
    .company-techskills .skill-circle .text {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000000;
        font-family: 'JosefinSans-regular', sans-serif;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }


    /*
        Profile Card Styling
    */

    .profileCards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-top: 50px;         
    }

    .profileCards .cards {
        /* WHITE CARD-PURPLE SHADE*/
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba(217, 205, 231);;
        margin-bottom: 35px;
        padding: 15px; 
        height:auto;
        width:auto;
        max-height:500px;
        max-width:500px;
    }

    .profileCards .infoSection{
        line-height: 5px !important;
    }

    .profileCards .candidateImg{
        background: rgba(217, 205, 231, 0.2);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border: 3px solid rgba(217, 205, 231);
        padding: 0.5em;
        border-radius:75%
    }

    .profileCards .candidateTitle{
        position: relative;
        top: -35px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1.5px 25px 1.5px rgb(120, 81, 169, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(217, 205, 231);;
        margin-bottom: -30px;

        
    }
    .profileCards .title{
        color: #000000;
        font-family: 'JosefinSans-semibold',sans-serif;
        font-size: 20px;
    }

    .profileCards .text {
        font-size: 14px;
    }

    /* Interests Section */
    .profileCards .interests{
        background: rgba(217, 205, 231, 0.2);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        padding: 0 5px 5px 5px;
        
    }

    .profileCards .interestsContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: -10px;
    }

    .profileCards .interestsCards{
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        border: 1px solid rgba(217, 205, 231);
        border-radius: 10px;
        padding: 0px;
        margin: 1px;
        text-align: center;
    }



/*------------------------------------------------------------------------*/


/* 
    Companies Page Styling
*/

/*Candidate Card Example Container*/
.cards-panel{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

.cards-panel .profileCards .cards{
   /* WHITE CARD-PURPLE SHADE*/
   top: 75px;
   background: rgb(255, 255, 255);
   box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
   backdrop-filter: blur( 10px );
   -webkit-backdrop-filter: blur( 10px );
   border-radius: 10px;
   border: 1px solid rgba(217, 205, 231);
   margin: 3em;
   padding: 15px; 
   height:auto;
   width:250px;
   max-height:500px;
   max-width:500px;

}


/*------------------------------------------------------------------------*/


/* 
    updateUserProfile Page Styling
        -Members
        -Companies
*/

.updateProfileSection {
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    width:100%;

}

.updateProfileSection input{
    width: 75%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    text-align: center;
    margin-bottom: 2em; 
    border: 1px solid rgb(121, 81, 169);
}

    /*Header*/
    .updateUser-title {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    /*Panels*/
    .userData-panel{
        width:49.5%;
        border-style: solid;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: rgba(120, 81, 169);
        border-left-color: transparent; 

    }

    .memberData-panel{
        width: 50%;
        /*margin-top: 2em; */
    }

    /*global Dropdown padding */
    .memberData-panel select{
        padding: 5px;
    }

    /*Submit/Cancel section*/
    .updateUserInput{
        display: flex;
        justify-content: center;
        margin-top: 3em;
    }

    /*Back button container*/
    .homeBtn{
        margin-top: 1em;
        width: 10%;
    }

    /* 
        Independent ID stylings
    */

    #id_personal_goal{
        width: 75%;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
        text-align: center;
        margin-bottom: 2em; 
        border: 1px solid rgb(121, 81, 169);
    }

    #id_personal_story{
        width: 75%;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
        text-align: center;
        margin-bottom: 2em; 
        border: 1px solid rgb(121, 81, 169);
    }

    #id_availability{
        width: 50%;
        margin: 0.5em 0 1.5em 0;
    }

    #id_workstatus{
        width: 50%;
        margin: 0.5em 0 1.5em 0;
    }

    #id_relocation{
        width: 50%;
        margin: 0.5em 0 1.5em 0;
    }

    /* Interests & Skills Checkbox */

    .checkboxesFormContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .interestsSkillsForm{
        display: flex;
        flex-flow: row;

    }

    .interestsSkillsForm input{
        visibility: hidden;
    }

    .interestsSkillsForm .skill-checkmark {
        position: absolute;
        margin-left: 0.2em;
        height: 30px;
        width: 30px;
        background: rgba(255, 255, 255, 0.3);
        border: 1px solid rgb(120, 81, 169);
        border-radius: 20px;
        backdrop-filter: blur(10px);
    }

    .interestsSkillsForm .skill-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .interestsSkillsForm:hover input ~ .skill-checkmark {
        background: rgba(121, 81, 169, 0.1);
        box-shadow: 0 1.5px 25px 1.5px rgb(255, 255, 255);
        border: 1px solid rgb(120, 81, 169);
    }


    .interestsSkillsForm input:checked ~ .skill-checkmark {
        background-color: rgb(120, 81, 169);
        box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169);
    }


    .interestsSkillsForm .skill-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }


    .interestsSkillsForm input:checked ~ .skill-checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .interestsSkillsForm .skill-checkmark:after {
        left: 10px;
        top: 3px;
        width: 5.5px;
        height: 15px;
        border: solid white;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .interestsTitle{
        padding-top: 2em;
        inline-size: 77px;
        word-break: break-all;
    }

    .interestsTitle .title{
        font-size: 14px;
    }

    

/*------------------------------------------------------------------------*/


/* 
    memberJobBoard & companyCandidateBoard Page Styling
        -Members
        -Companies
*/

/*Main container*/
.greeting-section {  
    padding: 5em 0 3em 0;
    text-align: center;
}

/*Job/Candidate Board container*/
.boardSection {
    background: rgba(217, 205, 231, 0.2);
    box-shadow: 0 1.5px 10px 1.5px rgb(120, 81, 169, 0.3);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin: 15px;
    padding:7px;
    margin-bottom: 2em;       
}