/*Primary Color :#7851A9-(120, 81, 169)
Secondary COlor:#D9CDE7-(217, 205, 231)*/

html,body{
    /*background-color: blue;*/
    /*display:flex*/
    background-color: #ffffff;
    /*width: auto;/*100vw*/
}


/*
    Font styling
*/

/*H1 styling*/
@font-face {
    font-family: 'JosefinSans-bold';
    src: local('JosefinSans-Bold'),
        url('fonts/JosefinSans-Bold.ttf') format("truetype");
}

/*H2 styling*/
@font-face {
    font-family: 'JosefinSans-semibold';
    src: local('JosefinSans-SemiBold'),
        url('fonts/JosefinSans-SemiBold.ttf') format("truetype");
}

/*P styling*/
@font-face {
    font-family: 'JosefinSans-regular';
    src: local('JosefinSans-Regular'),
        url('fonts/JosefinSans-Regular.ttf') format("truetype");
}


h1 {
    color: #7851A9;
    font-family: 'JosefinSans-bold',sans-serif;
    font-size: 50px;
}

h2 {
    color: #000000;
    font-family: 'JosefinSans-semibold',sans-serif;
    font-size: 26px;
}

p {
    color: #000000;
    font-family: 'JosefinSans-regular', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none ;
    color: #000000
}


/*------------------------------------------------------------------------*/


/*
   Home Page styling
*/

.dual-section {
    padding-top: 8em;
    
    display:flex;
    flex-direction: row;
    width:100%;
    /*height: 100%;*/
    
   /* background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);*/
    
    /*Border Styling for Section
    border-style: solid;
    border-bottom-color: #D9CDE7;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;*/   
}

.text-panel{
    width: 50%;
    text-align: center;
    align-self: center;
}
.subtitle{
    margin-top: -40px;
}

.img-panel{
    width: 50%;
    margin-top: 2em;
    align-self: center;
}


.single-section {  
    padding-top: 8em;
    text-align: center;
}


/*------------------------------------------------------------------------*/


/*
    Header Component
*/

header {
    padding-bottom: 0em;
}
.nav-container {
  height: 45px;
  width: 98.5%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /*background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);*/
  padding-top:10px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #7851A9;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 100000;
  
}

.nav-links {
  display: inherit;
  margin-left: auto;   
}

.nav-btn {
    background-color:#D9CDE7;
    padding: 10px;
    border-radius: 15px;
    border-color: #7851A9;
    align-self: center;
}
.nav-btn:hover {
    background-color:#7851A9;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.authenticate-link{
    color:#7851A9
}


/*------------------------------------------------------------------------*/


/*
    Footer Component
*/
.footer-nav{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-bottom: 5px;

    border-style: solid;
    border-top-color: #7851A9;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;


}


/*------------------------------------------------------------------------*/


/*
    BLUR
*/
.blur {
    position: absolute;
    top: 140px;
    left: 240px;
    width: 250px;
    height: 160px;
    background: rgba(255, 255, 255, 0.5);/*last digit is transparency*/
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(217, 205, 231);; 
}

.blur-square {
    position:relative;
    top: 0px;
    left: 60px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.5px);
    border-radius: 10%;
    border: 1px solid rgba(217, 205, 231);; 
}

.blur-background {
    background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(217, 205, 231);;
    margin-top: 50px;
    padding: 15px; 
}

.title-blur {
    background: rgba(94, 0, 155, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 400px;
    padding: 1em;
    border: 1px solid rgba(217, 205, 231);; 
}


/*------------------------------------------------------------------------*/


/*
    Button Component Styling

*/

button{
    border-style: none;
}
.btn-main {
    background-color:#D9CDE7;
    font-size: 20px !important;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-left: 15px;

}
.btn-main:hover {
    background-color:#7851A9;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


/*------------------------------------------------------------------------*/


/*
    Form General Styling
*/

.invalid-warning{
    color: red;
}


.errorlist{
    color: red;
    list-style: none;
    margin-top: -10px;

}

input{
    width: 60%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    text-align: center;
    margin-bottom: 2em; 
    border: 1px solid rgba(121, 81, 169, 0.47);
}

.input-labels{
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(121, 81, 169);
    border-radius: 5px;
    padding: 0.3em; 
    margin-left: 10px;/*Controls positioning of Labels*/
    margin-top: -10px;  
}


/*------------------------------------------------------------------------*/


/*
    Login Page Styling
*/

.login-section {
    display:flex;
    flex-direction: row;
    width:100%;
   /* background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);*/
    
    /*Border Styling for Section
    border-style: solid;
    /*border-bottom-color: #D9CDE7;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent; */
}

.login-panel{
    width:40%;
    height: auto;
    margin-top: 2em;
    align-self: center;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 10%;
    border-style: solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: #7851a9;
    border-left-color: transparent; 

}

.login-imgpanel{
    width: 60%;
    height: auto;
    margin-top: 2em; 
}

.login-title{
    margin-top:-1px;
}

.form-registerlink{
    font-size: inherit;
    color:#7851a9;
}


/*------------------------------------------------------------------------*/


/*
    Register Page Styling
*/

.register-section {
    display:flex;
    flex-direction: column;
    width:100%;
    align-self: center;
    text-align: center;
   /* background: rgba(94, 0, 155, 0.07);
    backdrop-filter: blur(5px);*/
    
    /*Border Styling for Section
    border-style: solid;
    /*border-bottom-color: #D9CDE7;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent; */
}
.register-form{
    width: 75%;
    height: auto;
    align-self: center;
    text-align: center;
    padding-top: 3%;

}

.register-title{
    margin-top:-1px;
}

.register-text{
    margin-top:-40px;
}


/*------------------------------------------------------------------------*/


/* 
    Dashboard Page Styling
*/

.dashboard-container{ /*WHEN ADDED TO HTML, MAKES ENTIRE BG MOVE ON SCROLL*/
    background: rgba(93, 0, 155, 0.05);
    width:auto;
    overflow: hidden;
}
/*not used*/
.dashboard{
    background: rgba(93, 0, 155, 0.05);
    background-size: contain;
    height: auto;

}



/*Dashboard Font*/
.dashboard-title{
    display: block !important;
    color: #000000;
    font-family: 'JosefinSans-semibold',sans-serif;
    font-size: 18px;
    text-decoration: underline #7851A9;
    text-decoration-style:wavy;
    text-underline-offset: 2.5px;
   
}

.dashboard-text{
    color: #000000;
    font-family: 'JosefinSans-regular', sans-serif;
    font-size: 14px;
}

/*------------------------------------------------------------------------*/

/*
    Left Column Styling
*/
.dashboard-lCol{
    position: fixed;
    width: 25%;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
   /* background-color: #ffffff !important;*/
    /*Border Styling for Column*/
    border-style: solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color:  #D9CDE7;
    border-left-color: transparent;  
}

    /* Profile Section*/
    .profileSection{
        /*background: rgba(255, 255, 255, 0.711);
        backdrop-filter: blur(5px);
        margin-top: 50px;*/
        border: 2px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);
        border-right-color: transparent;
        border-left-color: transparent;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    .profileImg{
        margin-top: 10px;
        background-color: #ffffff;
        border: 3px solid rgba(217, 205, 231);;
        padding: 0.5em;
        border-radius:75%
    }

    .profileText{
        line-height: 1px;
    }

    /* Contact Section*/
    .contactSection{
        /*background: rgba(255, 255, 255, 0.711);
        backdrop-filter: blur(5px);
        margin-top: 50px;
        display: inherit;
        flex-flow: row wrap;*/
        padding: 7px; 
        border: 2px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: transparent;
        border-left-color: transparent;
      
        /*border: 1px solid rgba(217, 205, 231);;*/
    
    }

    .contactLinks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .contactCards{
        height: 45px;
        width: 45px;
        background-color: #ffffff;
        border: 1px solid rgba(217, 205, 231);;
        border-radius: 10px;
        padding: 2px;
        margin: 2px;
        text-align: center;  
    }

    /* Interests Section*/
    .interestsSection{
        /*background: rgba(255, 255, 255, 0.711);
        backdrop-filter: blur(5px);
        margin-top: 50px;
        display: inherit;
        flex-flow: row wrap;*/
        padding: 10px; 
        margin-bottom: 7px;
        border: 2px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: transparent;
        border-left-color: transparent;
        /*border: 1px solid rgba(217, 205, 231);;*/
    }

    .interestsContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .interestsCards{
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        border: 1px solid rgba(217, 205, 231);;
        border-radius: 10px;
        padding: 1.5px;
        margin: 2px;
        text-align: center;
      
    }

    /* Status Section*/
    .statusSection{
        /*background: rgba(255, 255, 255, 0.711);
        backdrop-filter: blur(5px);
        margin-top: 50px;
        display: inherit;
        flex-flow: row wrap;*/
        padding:10px; 
        border-radius: 10px;
        /*border: 1px solid rgba(217, 205, 231);;*/
    }

    .statusContainer{
        display: inherit;
        flex-flow: inherit;
        line-height: 5px;
        padding-top: 2px; 
    }

/*------------------------------------------------------------------------*/

/*
    Right Column Styling
*/
.dashboard-rCol{
    width: 75%;
    margin-left: 25%;
    
}

    /*
        First Row
    */
    .personalSection{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        border: 3px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: transparent;
        border-left-color: transparent;
        margin-top: 45px;
        padding-bottom: 25px;
        height:auto;
    }

        /*Personal Goal Section*/
        .rowOne-lCol{           
            width: 47%;
            margin: 30px 5px 0 0;
            padding: 5px;
            justify-content: center;
            text-align: center;  
            /*border: 3px solid ;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: rgba(217, 205, 231);;
            border-left-color: transparent;*/
            background: rgb(255, 255, 255);
            box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.25);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
        }


        /*Personal Story Section*/
        .rowOne-rCol{
            width: 47%;
            margin: 30px 0 0 0;
            padding: 5px;
            justify-content: center;
            text-align: center; 
            /*background-color: #ffffff;
            border-radius: 20px;
            border: 1px solid rgba(217, 205, 231);;*/
            background: rgb(255, 255, 255);
            box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.25);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
        }


    /*
        Second Row
    */

    .skillsSection{
        /* REMOVED ALLOWED FOR CENTERING
        display: inherit;
        flex-flow: row wrap;*/ 
        
       /* border: 3px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: transparent;
        border-left-color: transparent;*/
        background: rgb(255, 255, 255);
        box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.25);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        text-align: center;
        margin: 15px;
        padding-bottom: 25px;
          
    }
        .techskills{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            background: rgba(93, 0, 155, 0.05);
            box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.25);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
            padding: 15px;
            margin: 10px 100px 10px 100px;
            

            
         
            
            /* ALLOWS SCROLLING WITHIN TECHSKILLS
            overflow-y:scroll;
            overflow-x: hidden;
            */
        }
        
        /*TechSkill SVG*/
        svg {
            position: relative;
            width: 150px;
            height: 150px;
            z-index: 1000;
        }

        /*TechSKill SVG Circle*/
        svg circle {
            fill: none;
            stroke: #ffffff;
            stroke-width: 10;
            stroke-linecap: round;
            transform: translate(5px, 5px);         
        }

        /*Inner circle stroke*/
        svg circle:nth-child(2) {
            stroke-dasharray: 400;/*440 WORDS FOR BIGGER CIRCLES*/
            stroke-dashoffset: 400;
        }

        /*outer circle stroke-Purple*/
        svg circle:nth-child(2) {
            stroke-dashoffset: calc(440 - (440 * 45) / 100 );/*Same calc(0);*/
            stroke: #7851A9;
            
            /*animation: progress 4s infinite linear; */  
        }
        
        /*Inner Frosted circle-DON'T CHANGE*/
        .skill-circle {
            position: relative;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            box-shadow: inset 0 0 50px blue /*rgb(120, 81, 169)*/;
            background: inherit;
            backdrop-filter: blur(5px);
            z-index: 1000;
            margin: 3px;/*Space between*/
        }
          
        /*Inner frosted circle-text*/
        .skill-circle .text {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #000000;
            font-family: 'JosefinSans-regular', sans-serif;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
          

     /*
        Third Row
    */

    .companiesSection{
        /* REMOVED ALLOWED FOR CENTERING
        display: inherit;
        flex-flow: row wrap;*/ 
        position: relative;
        border: 3px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);;
        border-right-color: transparent;
        border-left-color: transparent;
        padding: 3px;
        text-align: center;   
    }
        .companyCards{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 35px;
        }

        .companyCards .cards {
            /* WHITE CARD-PURPLE SHADE*/
            background: rgb(255, 255, 255);
            box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            /*border: 1px solid ;
            border-top-color: transparent;
            border-bottom-color: rgba(217, 205, 231);;
            border-right-color: rgba(217, 205, 231);;
            border-left-color: rgba(217, 205, 231);;*/
            border: 1px solid rgba(217, 205, 231);;
            
            padding: 15px; 
            max-height:300px;
            max-width:300px;
        }

        .companyCards .infoSection{
            line-height: 5px;
        }

        .companyCards .companyTitle{
            position: relative;
            top: -35px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 1px; 
            border: 1px solid rgba(217, 205, 231);;
            margin-bottom: -30px;

            
        }
        .companyCards .title{
            color: #000000;
            font-family: 'JosefinSans-semibold',sans-serif;
            font-size: 24px;
        }
        

        .companyCards .skills{
            /*background: rgba( 255, 255, 255, 0.75 );
            box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);*/
            /* WHITE CARD-PURPLE SHADE*/
            background: rgba(93, 0, 155, 0.05);
            box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.25);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgb(255, 255, 255);
            padding: 0 10px 10px 10px;
            

        }
        .companyCards .skills-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: -10px;

        }


        /*Inner Frosted circle-DON'T CHANGE*/
        .companyCards .skill-circle {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: inset 0 0 25px blue /*rgb(120, 81, 169)*/;
            background: inherit;
            backdrop-filter: blur(5px);
            z-index: 1000;
            margin: 1px;/*Space between*/
        }
          
        /*Inner frosted circle-text*/
        .companyCards .text {
            position: absolute;
            display: flex;  
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #000000;
            font-family: 'JosefinSans-regular', sans-serif;
            font-size: 13px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        
         
        
          

/*
    Profile Card Styling
*/
.profile-card {
    /* Add shadows to create the "card" effect */
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.profile-card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.profile-card-container {
padding: 2px 16px;
}


/* CARD STYLE 
.companiesSection{
       
        position: relative;
        border: 3px solid ;
        border-top-color: transparent;
        border-bottom-color: rgba(217, 205, 231);
        border-right-color: transparent;
        border-left-color: transparent;
        padding: 3px;
        text-align: center;
       
        
    }
        .companyCards{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 45px;
        }

        .companyCards .cards {
            /* WHITE CARD-PURPLE SHADE
            background: rgba(93, 0, 155, 0.1);
            
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            /*border: 1px solid ;
            border-top-color: transparent;
            border-bottom-color: rgba(217, 205, 231);
            border-right-color: rgba(217, 205, 231);
            border-left-color: rgba(217, 205, 231);
            border: 1px solid rgba(217, 205, 231);
            
            padding: 15px; 
            max-height:200px;
            max-width:300px;
        }

        .companyCards .infoSection{
            line-height: 5px;
        }

        .companyCards .companyTitle{
            position: relative;
            top: -35px;
            background: rgba(255, 255, 255, 0.85);
            box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 1px; 
            border: 1px solid rgba(217, 205, 231);
            margin-bottom: -30px;

            
        }
        .companyCards .title{
            color: #000000;
            font-family: 'JosefinSans-semibold',sans-serif;
            font-size: 24px;
        }
        

        .companyCards .skills{
            background: rgba(255, 255, 255, 0.85);
            box-shadow: 0 1.5px 25px 1.5px rgb(255, 254, 255);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 1px solid rgba(217, 205, 231);
            /* WHITE CARD-PURPLE SHADE
            background: rgba(93, 0, 155, 0.1);
            box-shadow: 0 1.5px 10px 1.5px rgba(93, 0, 155, 0.364);
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            border: 0.5px solid rgb(255, 255, 255);
            
            
            width: auto;
            max-width: none;
            padding: 0 10px 10px 10px;
            margin-bottom: -10px;

        }
        .companyCards .skills-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: -10px;

        }


        
        .companyCards .skill-circle {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            box-shadow: inset 0 0 25px blue /*rgb(120, 81, 169)/;
            background: inherit;
            backdrop-filter: blur(5px);
            z-index: 1000;
            margin: 1px;/*Space between
        }
          
        
        .companyCards .text {
            position: absolute;
            display: flex;  
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #000000;
            font-family: 'JosefinSans-regular', sans-serif;
            font-size: 13px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        */